@use "./_variables" as v;
@use "./_font" as f;

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--p-surface-950);
    color: var(--p-stone-50);
    overflow: hidden;
}
