@use "./_variables" as v;
@use "./_font" as f;

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family), serif;
    background-color: var(--p-surface-950);
    color: var(--p-stone-50);
    overflow: hidden;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}
